a {
  text-decoration: none;
}

a:visited {
  color: #759cfc;
}

/* full calendar  */
.fc-right .fc-prev-button,
.fc-right .fc-next-button {
  background-color: #759cfc;
  background-image: none;
}

.fc td {
  background-color: #f5f6ff;
}

.fc .fc-content {
  font-size: 12px;
}

.fc-event {
  margin: 1% 5%;
  padding: 0.3em;
  border-color: white;
  box-shadow: 0px 0px 10px -2px rgba(84, 84, 84, 0.3);
}
